.content.px-3 {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header {
  & img {
    max-width: 50vw;
    width: 20rem;
  }
}

details,
p {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

details {
  & > summary {
    color: var(--link-color);
    cursor: pointer;
    font-weight: bold;

    &::marker {
      content: none;
    }

    &:before {
      content: '>';
      display: inline-block;
      margin-right: 0.25rem;
    }
  }

  &[open] > summary:before {
    transform: rotate(90deg);
  }
}

footer {
  background: linear-gradient(45deg, var(--primary-color) 35%, #d94040 35%);

  & > * {
    color: #ffffff !important;
  }
}
